<nav>
  <div class="site-title">
    <a href="/"><h1>Post Stuff</h1></a>
  </div>
  <ul>
    <li><a href="/">Posts</a></li>
    <li><a href="/newpost">Create New Post</a></li>
    <li><a href="/hiddenpost">Show Hidden Post Only</a></li>
  </ul>
</nav>
